.description {
    margin-top: 50px;
    margin-bottom: 100px;
}

.button {
  background-color: #4b2e83;
  border-color: #4b2e83;
  padding: 12px 20px;
  border-radius: 0.8em;
  font-weight: bold;
  margin: 3em;
  color: white;
}

.button:hover {
    background-color: #c3b5d5; 
    color: #4b2e83;
  }

.text-box {
    width: 70%;
    padding-top: 3em;
    margin: 0 auto;
}

.text-box h2 {
    font-weight: lighter;
    text-align: left;
}

.team-photos {
    display: flex;
    justify-content: center;
}

.photo {
    padding: 1em;
}

.image-box {
    text-align: center;
    margin-top: 3em;
}

.flexCon {
    display: inline-flex;
    margin: 0 auto;
    width: 70%;
    padding: 170px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.team-photos img {
    border-radius: 50%;
}

.photo p {
    text-align: center;
}