/* Add a black background color to the top navigation */
.topnav {
    display: flex;
    background-color: #4b2e83;
    overflow: hidden;
  }
  
  .left-nav {
  flex: 3;
  display: flex;
  align-items: flex-end;
  }
  
  .mid-nav {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center ;
  }
  
  .right-nav  {
  flex: 3;
  display: flex;
  align-items: flex-end;
  flex-direction: row-reverse;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    display: inline-block;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 35px 45px;
    text-decoration: none;
    font-size: 17px;
    position: relative;
  
  }
  
  
  .topnav a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #c3b5d5;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .topnav a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  .topnav a.active {
    background-color: #c3b5d5;
    text-decoration: underline;
    font-weight: bold;
  }
  
  .left-nav li {
  list-style: none;
  }
  
  
  img {
    margin: auto;
    display: inline-block;
    vertical-align: bottom;
  }